body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    overflow: hidden visible;
}

.container {
    margin: 0px 170px;
}

.header, .hero, .banner {
    background-image: url(images/banner-bg.jpg);
    width: 1920px;
    height: 1295px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line, .hero-bar, .banner-bar {
    padding-top: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 170px;
    padding-right: 170px;
    box-sizing: border-box;
}

.nav-item, .brand-link, .site-logo-link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 21px;
}

.map-text, .hero-location-text, .site-location-text {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    margin-left: 10px;
}

.map-img, .hero-location-icon, .site-location-icon {
    position: absolute;
    top: 0px;
    left: -15px;
}

.map-holder, .hero-location-wrap, .site-location-box {
    display: flex;
    align-items: center;
    position: relative;
}

.num, .hero-phone-main, .site-phone-main {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

.phone-text, .hero-phone-caption, .site-phone-caption {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}

.phone-img, .hero-phone-icon, .site-phone-icon {
    position: absolute;
    top: 47px;
    left: 1375px;
}

.phone-holder, .hero-phone, .site-phone {
    display: flex;
    align-items: center;

}

.header-down, .hero-main, .banner-main {
    position: absolute;
    padding-top: 268px;
    padding-left: 170px;
    width: calc(100% - 170px);
    box-sizing: border-box;
}

.header-title, .hero-title, .banner-title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 12px;
}

.header-subtitle, .hero-subtitle, .banner-subtitle {
    color: #fff;
    font-size: 24px;
    margin-bottom: 12px;
}

.header-button, .hero-cta, .banner-cta {
    display: inline-block;
    padding: 12px 24px;
    background-color: #FED84C;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 700;
    transition: all 0.2s ease;
    padding: 30px 50px;

}

.header-button, .hero-cta, .banner-cta:hover {
    background-color: #2e363e;
    color: white;
    transform: scale(1.03);
}

.header-tag, .hero-label, .banner-label {
    position: absolute;
    top: 200px;
    left: 170px;
    width: 132px;
    height: 37px;
    background-color: #F2F6FA;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-tag-text {
    color: #2E363E;
    font-size: 11px;
    font-weight: 400;
}

.header-decorations, .hero-decor, .banner-decor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.berry-img, .hero-berry-1, .banner-berry-1,
.berry-img2, .hero-berry-2, .banner-berry-2,
.berry-img3, .hero-berry-3, .banner-berry-3,
.leaf-img, .hero-leaf, .banner-leaf {
    position: absolute;
    pointer-events: none;
}


.berry-img, .hero-berry-1, .banner-berry-1 {
    top: 90px;
    left: -175px;
    width: 165px;
    height: 180;
}


.berry-img2, .hero-berry-2, .banner-berry-2 {
    top: 40px;
    right: 0px;
    width: 175px;
    height: 175px;
}


.berry-img3, .hero-berry-3, .banner-berry-3 {
    bottom: -450px;
    right: 250px;
    width: 200px;
    height: 200px;
}

.leaf-img, .hero-leaf, .banner-leaf {
    top: 850px;
    left: -175px;
    width: 275px;
    height: 286px;
}

.cards-holder, .products-grid, .showcase-grid {
    display: grid;
    grid-template-columns: repeat(3, 390px);
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}

.cards-title, .products-title, .showcase-title {
    display: flex;
    justify-content: center;
    color: #2E363E;
    font-size: 48px;
    font-weight: 500px;
    margin-bottom: 80px;
    position: relative;
    top: 40px;
}

.card, .product-card, .showcase-card {
    width: 380px;
    height: 582px;
    background-color: #C2C6D00F;
    margin-top: 20px;
    border: 1px solid#F2F6FA;
    border-radius: 10px 10px;
}

.card-image, .product-card-image, .showcase-card-image {
    display: flex;
    justify-content: center;
    width: 380px;
    height: 245;
    margin-bottom: 50px;

}

.card-title, .product-name, .showcase-name {
    display: flex;
    justify-content: left;
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 700px;
    font-weight: bold;
    color: #2E363E;
    margin-left: 44px;
}

.card-desc, .product-description, .showcase-description {
    display: flex;
    justify-content: left;
    font-size: 16px;
    font-weight: 400px;
    color: #2E363E;
    margin-left: 44px;
    margin-bottom: 52px;
}

.card-price, .product-price, .showcase-price {
    display: flex;
    margin-left: 44px;
    font-size: 24px;
    font-weight: 500px;
    margin-bottom: 14px;
}

.card-button, .product-order-button, .showcase-order-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #FED84C;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.2s ease;
    padding: 20px 40px;
    margin-left: 44px;

}

.card-button, .product-order-button, .showcase-order-button:hover {
    background-color: #2e363e;
    color: white;
    transform: scale(1.03);
}

.card-decorations {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.berry-img4,
.leaf-img2,
.leaf-img3 {
    position: absolute;
    pointer-events: none;
}

.berry-img4 {
    bottom: -830px;
    left: 120px;
    width: 220px;
    height: 220px;
}

.leaf-img2 {
    bottom: -2000px;
    left: 150px;
    width: 175px;
    height: 175px;
}

.leaf-img3 {
    bottom: -1600px;
    right: 100px;
    width: 220px;
    height: 220px;
}

.calculate {
    width: 1920px;
    height: 1295px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #081130;
}

.calculate-title {
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 12px;
    margin-top: 470px;
    margin-left: 900px;
}

.calculate-subtitle {
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 12px;
    margin-left: 900px;
}

.calculate-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #FED84C;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 700;
    transition: all 0.2s ease;
    padding: 30px 50px;
    margin-left: 900px;
}

.calculate-button:hover {
    background-color: #2e363e;
    color: white;
    transform: scale(1.03);
}

.calculate-tag {
    position: relative;
    top: 440px;
    left: 900px;
    width: 226px;
    height: 37px;
    background-color: #F2F6FA;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculate-tag-text {
    color: #2E363E;
    font-size: 11px;
    font-weight: 400;
}

.bg1-img,
.phone-img1,
.bg2-img {
    position: absolute;
}

.bg1-img {
    top: 3275px;
}

.phone-img1 {
    top: 3605px;
    left: 0px;
}

.bg2-img {
    top: 4145px;
}

.who {
    width: 1920px;
    height: 830px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
}

.who-tag {
    position: relative;
    top: 127px;
    left: 170px;
    width: 191px;
    height: 37px;
    background-color: #F2F6FA;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.who-tag-text, .hero-label-text, .banner-label-text {
    color: #2E363E;
    font-size: 11px;
    font-weight: 400;
}

.who-title {
    position: relative;
    color: #2E363E;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 12px;
    left: 170px;
    top: 158px;
}

.who-subtitle {
    position: relative;
    color: #2E363E;
    font-size: 24px;
    margin-bottom: 12px;
    left: 170px;
    top: 174px;
}

.who-text-sub {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

ul ::marker {
    color: #5D6AFB;
}

.who-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    background-color: #FED84C;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 700;
    transition: all 0.2s ease;
    padding: 30px 50px;
    left: 170px;
    top: 186px;
}

.who-button:hover {
    background-color: #2e363e;
    color: white;
    transform: scale(1.03);
}

.woman-img {
    position: relative;
    width: 530px;
    left: 982px;
    bottom: 550px;
}

.parallelogram {
    width: 287px;
    height: 60px;
    background-color: #2E363E;
    transform: skewX(-10deg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    left: 882px;
    bottom: -100px;
    z-index: 100;
}

.parallelogram-text {
    font-size: 24px;
    color: #ffffff;
    transform: skewX(10deg);
    font-weight: 500;
    white-space: nowrap;
}

.parallelogram2 {
    width: 218px;
    height: 52px;
    background-color: #F2F6FA;
    transform: skewX(-10deg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    left: 907px;
    bottom: -100px;
    z-index: 100;
}

.parallelogram-text2 {
    font-size: 18px;
    color: #2E363E;
    transform: skewX(10deg);
    font-weight: 400;
    white-space: nowrap;
}

.review {
    width: 1920px;
    height: 1505px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #081130;
}

.review-tag {
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    top: 350px;
}

.review-tag-text {
    color: #ffffff;
    font-size: 48px;
    font-weight: 500;
}

.review-one {
    position: relative;
    width: 1180px;
    height: 615px;
    background: #fff;
    left: 190px;
    top: 450px;
}

.review-one-tag {
    position: relative;
    color: #2E363E;
    font-size: 30px;
    font-weight: 500;
    top: 154px;
    left: 143px;
}

.review-one-com {
    position: relative;
    color: #2E363E;
    font-size: 15px;
    font-weight: 400;
    top: 204px;
    left: 143px;
}

.review-one-bth {
    position: relative;
    color: #2E363E;
    font-size: 15px;
    font-weight: 400;
    top: 226px;
    left: 143px;
}

.review-one-img {
    position: relative;
    left: 657px;
    height: 380px;
    width: 380px;
    bottom: 165px;
}

.review-one-author {
    position: relative;
    left: 745px;
    bottom: 145px;
    color: #2E363E;
    font-size: 21px;
    font-weight: 500;
}

.review-one-city {
    position: relative;
    left: 775px;
    bottom: 140px;
    color: #A6AEB6;
    font-size: 16px;
    font-weight: 400;
    left: 775px;
}

.review-button {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px dashed #4A94FF;
    padding-bottom: 2px;
    color: #4A94FF;
}

.quotes-img {
    position: relative;
    bottom: 555px;
    left: 143px;
}

.bg3-img,
.bg4-img {
    position: absolute;
}

.bg3-img {
    top: 5410px;
}

.bg4-img {
    top: 6635px;
}

.arrow-btn {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background: #FED84C;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    margin: 50px 10px 0;
    position: relative;
    left: 860px;
    top: 450px;
}

.arrow-btn:hover {
    background-color: #2e363e;
    transform: scale(1.03);
}

.arrow {
    width: 24px;
    height: 24px;
    border: solid #2E363E;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 1px;
    transition: all 0.3s ease;
}

.arrow-btn:hover .arrow {
    border-color: #fff;
}

.left {
    transform: rotate(135deg);
    margin-right: -5px;
}

.right {
    transform: rotate(-45deg);
    margin-left: -5px;
}

.gallery, .photo-section, .gallery-section {
    width: 1920px;
    height: 1545px;
}

.gallery-tag, .photo-heading-block, .gallery-heading-block {
    position: relative;
    display: flex;
    justify-content: center;
    top: 50px;
}

.gallery-tag-text, .photo-heading, .gallery-heading {
    color: #2E363E;
    font-size: 48px;
    font-weight: 500;
}

.gallery-subtag-text, .photo-subheading, .gallery-subheading {
    position: relative;
    display: flex;
    justify-content: center;
    top: 55px;
    color: #2E363E;
    font-size: 24px;
    font-weight: 400;
}

.gallery-photo, .photo-grid, .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 634px);
    gap: 10px;
    justify-content: center;
    position: relative;
    top: 100px;
}

.gallery-photo, .photo-grid, .gallery-grid img {
    width: 634px;
    height: 444px;
}

.basement, .request-section, .callback-section {
    background-color: #081130;
    width: 1920px;
    height: 912px;
}

.basement-rew, .request-card, .callback-card {
    position: relative;
    width: 1180px;
    height: 394px;
    background: #fff;
    left: 210px;
    top: 300px;
}

.basement-tag, .request-title, .callback-title {
    color: #2E363E;
    position: relative;
    font-size: 36px;
    font-weight: 700;
    top: 70px;
    left: 150px;
}

.basement-subtag, .request-subtitle, .callback-subtitle {
    color: #2E363E;
    position: relative;
    font-size: 21px;
    font-weight: 400;
    top: 80px;
    left: 180px;
}

.phone-form, .request-form, .callback-form {
    width: 380px;
    height: 85px;
    background: #F5F5F5;
    border: 1px solid #E0E0E0;
    display: flex;
    align-items: center;
    padding-left: 58px;
    position: relative;
    top: 110px;
    left: 160px;
    border-radius: 8px;
}

.phone-form, .request-form, .callback-form input {
    background: transparent;
    border: none;
    font-size: 16px;
    width: 100%;
    outline: none;
}

.basement-button, .request-button, .callback-button {
    display: inline-block;
    width: 380px;
    height: 86px;
    padding: 0;
    background-color: #FED84C;
    color: #2E363E;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 700;
    transition: all 0.2s ease;
    position: relative;
    top: 23px;
    left: 620px;
    text-align: center;
    line-height: 86px;
    box-sizing: border-box;
}

.basement-button, .request-button, .callback-button:hover {
    background-color: #2e363e;
    color: white;
    transform: scale(1.03);
}

.approve, .request-approve, .callback-approve {
    position: relative;
    color: #7E868E;
    font-weight: 400;
    font-size: 11px;
    position: relative;
    top: 91px;
    left: 350px;
}

.checkmark-img, .request-checkmark-icon, .callback-checkmark-icon {
    width: 12px;
    height: 12px;
    position: relative;
    top: 75px;
    left: 330px;
}

.bg5-img, .request-clouds, .callback-clouds {
    position: relative;
    top: -455px;
}
.footer, .bottom-links, .legal-links {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    color: #7E868E;
}
.footer1, .bottom-link1, .legal-link1 {
    position: relative;
    left: 250px;
    top: 250px;
}
.footer2, .bottom-link2, .legal-link2 {
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    top: 235px;
}
.footer3, .bottom-link3, .legal-link3 {
    position: relative;
    left: 750px;
    top: 220px;
}
.footer4, .bottom-link4, .legal-link4 {
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    top: 250px;
}
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    width: 40%;
    min-width: 500px;
    max-width: 70%;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #2E363E;
    padding: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header {
    margin-bottom: 30px;
    text-align: center;
}

.modal-header h2 {
    font-size: 24px;
    font-weight: 700;
    color: #2E363E;
    margin-bottom: 10px;
}

.modal-header p {
    font-size: 16px;
    font-weight: 400;
    color: #2E363E;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group input {
    padding: 15px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    font-size: 16px;
    background-color: #F5F5F5;
}

.form-group input:focus {
    outline: none;
    border-color: #FED84C;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.checkbox-group input {
    margin-right: 10px;
}

.checkbox-group label {
    font-size: 14px;
    color: #2E363E;
}

.submit-btn {
    width: 100%;
    padding: 25px;
    background-color: #FED84C;
    color: #2E363E;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease;
}

.submit-btn:hover:not(:disabled) {
    background-color: #2E363E;
    color: white;
    transform: scale(1.03);
    cursor: pointer;
}

.submit-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}



.counter-wrapper,
.order-counter,
.qty-control {
  display: inline-flex;
  align-items: center;
  gap: 12px;


  margin-left: 44px;
}


.counter-box,
.order-counter-box,
.qty-control-box {
  display: inline-flex;
  align-items: center;
  padding: 10px 16px;
  border-radius: 12px;
  background-color: #f5f5f5;
}


.counter-btn,
.order-counter-button,
.qty-control-button {
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  width: 24px;
  padding: 0;
  outline: none;
}

.counter-value,
.order-counter-value,
.qty-control-value {
  margin: 0 12px;
  font-size: 18px;
}


.counter-total,
.order-counter-total,
.qty-control-total {
  display: inline-flex;
  align-items: center;
  padding: 12px 24px;
  border-radius: 12px;
  background-color: #FED84C;
  font-weight: 600;
}



.phone, .hero-phone-link, .site-phone-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.phone, .hero-phone-link, .site-phone-link:hover {
    text-decoration: underline;
}


button:focus,
.card-button, .product-order-button, .showcase-order-button:focus,
.basement-button, .request-button, .callback-button:focus {
    outline: none;
}


.card-button, .product-order-button, .showcase-order-button,
.basement-button, .request-button, .callback-button {
    border: none;
}
